.horizontal{
    display: flex;
}

h1{
    background-color: blue;
}

#heading{
    font-size: 18px;
    font-weight: 700;
    padding: 17px 20px 17px 20px;
    border-bottom: 1px solid silver;
    background-color: white;
}

.container{
    background-color: rgb(245, 244, 244);
}